body {
  background-color: #b1a18f;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}

/*HEADER BEGIN*/
.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(214, 132, 78, 0.589);
  color: #fff;
}

.headName {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px #442818;
}

/*HEADER END*/

/*ABOUT ME BEGIN*/
.aboutMe {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px #975d3b;
}
.aboutMeText {
  font-size: 20px;
}

/*ABOUT ME END*/

/*PROJECT BEGIN*/
.projectHeader {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px #975d3b;
}

.repoclass {
  font-size: 20px;
}
button {
  background-color: #975d3bb7;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 15px;
}
/*PROJECT END*/

/*BEGIN FOOTER*/
.containerFooter {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(214, 132, 78, 0.589);
  color: #fff;
}
.footerTwo {
  font-size: 20px; 
}

/*END FOOTER*/